/* 改变主题色变量 */
$--color-primary: #ac0517;

/* 改变 icon 字体路径变量，必需 */
$--font-path: "~element-ui/lib/theme-chalk/fonts";

//-----------------------分割线，上面是elementui----------------------
$color-main: #070001; // rgba(7, 0, 1, 1)
$color-main-1: rgba(7, 0, 1, 0.1);
$color-main-6: rgba(7, 0, 1, 0.6);
$color-main-7: rgba(7, 0, 1, 0.7);
$color-main-9: rgba(7, 0, 1, 0.9);

$border-color-main: #e7e8ea;

$bg-color-disabled: #f7f7f7;
$bg-color-mask: rgba(0, 0, 0, 0.3);
$bg-color-primary: rgba(172, 5, 23, 0.06); // #ac0517
$bg-color-lack: #e0e0e0;
$bg-color-show1: #0a0a2b;
$bg-color-show2: rgba(10, 10, 43, 0.9);
$bg-color-hover1: #f5f5f5;
